body {
    padding: 35%;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 1rem;
}

.card-front {
  display: grid;
  padding: 5%;
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  gap: 1rem;
  position: relative;
  z-index: 2;
  background-color: lightgray;
  border-radius: 5%;
  border: 1px solid black;
}

.card-back {
  display: grid;
  position: relative;
  grid-column: 2 / 4;
  grid-template-columns: 10px;
  grid-row: 2 / 4;
  grid-template-rows: 10px;
  /* top: 40px;
  right: -60px; */
  z-index: 1;
  background-color: lightgray;
  border: 1px solid black
}

.stripe {
  grid-row: 2;
  background-color: black;
}

.cvv {
  grid-row: 3;
  grid-column: 3;
  justify-self: end;
}

.card-number {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.card-holder {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.card-expiration {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.button {
    grid-column: 3 / 4;
    grid-row: -1 / -2;
}

